# =============================================================================

# CORE

# =============================================================================

streamlit==1.35.0
python-dotenv==1.0.1
tiktoken==0.7.0

# =============================================================================

# NUMPY

# =============================================================================

numpy==1.26.4

# =============================================================================

# TORCH

# =============================================================================

torch==2.3.1
torchvision==0.18.1

# =============================================================================

# EMBEDDINGS / RERANKING

# =============================================================================

sentence-transformers==3.0.1

# =============================================================================

# LANGCHAIN

# =============================================================================

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-experimental==0.0.65
langchain-text-splitters==0.2.4
langchain-groq==0.1.9

# =============================================================================

# VECTOR DATABASE

# =============================================================================

faiss-cpu==1.8.0

# =============================================================================

# PDF PROCESSING

# =============================================================================

pymupdf==1.24.9
pdfplumber==0.11.4
unstructured==0.15.13

# =============================================================================

# OCR

# =============================================================================

opencv-python-headless==4.10.0.84
paddlepaddle==2.6.2
paddleocr==2.7.3
pdf2image==1.17.0

# =============================================================================

# BM25

# =============================================================================

rank-bm25==0.2.2
